version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=1234
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 5
  api:
    build: .
    ports:
      - "8082:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://root:1234@mongo:27017/rrezhair?authSource=admin
      - CORS_ORIGIN=http://localhost:5173,http://localhost:8081
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  client:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8082
    depends_on:
      api:
        condition: service_healthy
    volumes:
      - ./client:/app
      - /app/node_modules
volumes:
  mongo-data:
