version: '3.8'
services:
  mongo:
    network_mode: host
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh 127.0.0.1:27017/test --quiet

  api:
    network_mode: host
    ports: []
    environment:
      - PORT=8082
      - MONGO_URI=mongodb://root:1234@localhost:27017/rrezhair?authSource=admin
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/api/health" ]

  client:
    network_mode: host
    ports: []
