version: '3.8'
services:
  mongo:
    network_mode: host
    # Healthcheck removed to avoid flaky deployments in host mode
    # The API will retry connection automatically

  api:
    network_mode: host
    restart: always
    ports: []
    environment:
      - PORT=8095
      - MONGO_URI=mongodb://root:1234@localhost:27017/rrezhair?authSource=admin
    depends_on:
      - mongo
    # Healthcheck removed to avoid flaky deployments

  client:
    network_mode: host
    ports: []
    environment:
      - VITE_API_URL=http://localhost:8095
    depends_on:
      - api # Removed condition: service_healthy
